@charset "utf-8";

#main_footer{
  width: 100%; height: 200px;
  background: #344e41;
}
#main_footer>.footer_innerbox{
  width: 100%; max-width: 1200px; height: 160px;
  margin: 0 auto;
  padding: 20px 0 10px;
}
#main_footer>.footer_innerbox>.footer_top{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_footer>.footer_innerbox>.footer_top>h3{
  width: 16.33333%; height: 37px;
  transition: all .4s;
}
#main_footer>.footer_innerbox>.footer_top>h3>a{
  display: block;
  width: 100%; height: 100%;
  text-indent: -9999px;
  background: url("../img/footer_logo.png") no-repeat center center;
  background-size: contain;
}
#main_footer>.footer_innerbox>.footer_top>.sns>li{
  display: inline-block;
  width: 40px; height: 40px;
  margin-left: 20px;
}
#main_footer>.footer_innerbox>.footer_top>.sns>li:first-of-type{
  margin-left: 0;
}
#main_footer>.footer_innerbox>.footer_top>.sns>li>a{
  display: block;
  width: 100%; height: 100%;
  text-indent: -9999px;
  background: url("../img/insta.png") no-repeat center center;
  background-size: cover;
}
#main_footer>.footer_innerbox>.footer_top>.sns>li:last-of-type>a{
  background-image: url("../img/blog.png");
}
#main_footer>.footer_innerbox>.footer_bot{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main_footer>.footer_innerbox>.footer_bot>div{
  flex: 1;
  color: #fff;
}
#main_footer>.footer_innerbox>.footer_bot>.txtbox>p:first-of-type{
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: 200;
}
#main_footer>.footer_innerbox>.footer_bot>.txtbox>address{
  font-style: normal;
  margin-bottom: 8px;
  font-weight: 200;
}
#main_footer>.footer_innerbox>.footer_bot>.txtbox>p:last-of-type{
  font-weight: 200;
}
#main_footer>.footer_innerbox>.footer_bot>.copyright{
  text-align: center;
  align-self: flex-end;
  font-weight: 200;
}
#main_footer>.footer_innerbox>.footer_bot>.f_menu>ul{
  text-align: right;
  font-weight: 200;
}
#main_footer>.footer_innerbox>.footer_bot>.f_menu>ul>li{
  display: inline-block;
  margin-left: 20px;
}
#main_footer>.footer_innerbox>.footer_bot>.f_menu>ul>li:first-of-type{
  margin-left: 0;
}
#main_footer>.footer_innerbox>.footer_bot>.f_menu>ul>li>a{
  color: #fff;
  font-size: 1rem;
}
/* media query */
@media screen and (max-width: 1024px) and (min-width: 641px) {
  #main_footer>.footer_innerbox{
    width: 95%;
  }
}
@media screen and (max-width: 640px) {
  #main_footer>.footer_innerbox{
    width: 95%;
  }
  #main_footer>.footer_innerbox{
    padding-top: 10px;
  }
  #main_footer>.footer_innerbox>.footer_top{
    margin-bottom: 10px;
  }
  #main_footer>.footer_innerbox>.footer_top>h3{
    width: 150px;
  }
  #main_footer>.footer_innerbox>.footer_top>h3>a{
    width: 150px; height: 100%;
    background-size: contain;
  }
  #main_footer>.footer_innerbox>.footer_top>.sns>li{
    width: 30px; height: 30px;
    margin-left: 10px;
  }
  #main_footer>.footer_innerbox>.footer_top>.sns>li>a{
    background-size: contain;
  }
  #main_footer>.footer_innerbox>.footer_bot{
    flex-direction: column;
  }
  #main_footer>.footer_innerbox>.footer_bot>.txtbox>p:first-of-type{
    font-size: 1.2rem;
    margin-bottom: 6px;
  }
  #main_footer>.footer_innerbox>.footer_bot>.txtbox>p:last-of-type{
    margin-bottom: 20px;
  }
  #main_footer>.footer_innerbox>.footer_bot>.txtbox>address{
    margin-bottom: 6px;
  }
  #main_footer>.footer_innerbox>.footer_bot>.txtbox{
    order: 2;
  }
  #main_footer>.footer_innerbox>.footer_bot>.f_menu{
    order: 1;
    margin-bottom: 10px;
  }
  #main_footer>.footer_innerbox>.footer_bot>.f_menu>ul{
    text-align: left;
    margin-bottom: 8px;
  }
  #main_footer>.footer_innerbox>.footer_bot>.copyright{
    order: 3;
    align-self: start;
  }
}