@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

#main_header{
  width: 100%; height: 100px;
  background: #344e41;
  position: fixed; z-index: 1000;
}
#main_header>.header_innerbox{
  width: 100%; max-width: 1200px; height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_header>.header_innerbox>h1{
  width: 150px; height: 80px;
}
#main_header>.header_innerbox>h1>a{
  display: block;
  width: 100%;; height: 100%;
  text-indent: -9999px;
  background: url("../img/header_logo.png") no-repeat center center;
  background-size: contain;
}
#main_header>.header_innerbox>.gnb{
  width: 46.66666%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_header>.header_innerbox>#toggle{
  width: 30px; height: 39px;
  border: 0;
  position: relative; z-index: 100;
  background: transparent;
  text-indent: -9999px;
  display: none;
}
#toggle span{
  display: block;
  width: 30px; height: 5px;
  margin: 6px 0px;
  background: #fff;
  transition: all 0.4s;
  opacity: 1;
  border-radius: 3px;
}
#toggle span:first-of-type{
  display: none;
}
#toggle.on .bar1{ transform: translate(0px, 11px) rotate(45deg); }
#toggle.on .bar2{ opacity: 0; }
#toggle.on .bar3{ transform: translate(0px, -11px) rotate(-45deg); }

#main_header>.header_innerbox>.gnb>ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main_header>.header_innerbox>.gnb a {
  font-size: 1.25rem;
  color: #fff;
}
#main_header>.header_innerbox>.gnb a:hover{
  color: orange;
}
/* mobile gnb */
#main_header>.header_innerbox>.m_gnb {
  width: 200px; height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute; right: -200px; top: 0;
  transition: all .4s linear;
}
#main_header>.header_innerbox>.m_gnb.active {
  right: 0;
}
#main_header>.header_innerbox>.m_gnb ul {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 40px;
  box-sizing: border-box;
}
#main_header>.header_innerbox>.m_gnb li {
  margin-bottom: 20px;
}
#main_header>.header_innerbox>.m_gnb li:last-of-type {
  margin-bottom: 0;
}
#main_header>.header_innerbox>.m_gnb a {
  font-size: 1.75rem;
  color: #fff;
}
/* media query */
@media screen and (max-width: 1024px) and (min-width: 641px) {
  #main_header>.header_innerbox{
    width: 95%;
  }
  #main_header>.header_innerbox>#toggle{
    display: none;
  }
}
@media screen and (max-width: 640px) {
  #main_header>.header_innerbox{
    width: 95%;
    flex-wrap: wrap;
  }
  #main_header>.header_innerbox>h1{
    width: 30%; height: 100%;
  }
  #main_header>.header_innerbox>.gnb{
    width: 100%;
    order: 3;
    display: none;
  }
  #main_header>.header_innerbox>.gnb>ul{
    display: block;
    margin-left: auto;
    /* width: 30%; */
    text-align: right;
  }
  #main_header>.header_innerbox>.gnb>ul>li{
    margin-bottom: 10px;
  }
  #main_header>.header_innerbox>#toggle{
    display: block;
  }
}