@charset "utf-8";

@import '../../css/header.css';
@import '../../css/footer.css';

body, header, main, footer, nav, section, div, p, h1, h2, h3, ul, li{ margin: 0; padding: 0; }
ul{ list-style: none;}
a{ text-decoration: none;}
img{ display: block; border: 0;}

body{
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #333;
  font-weight: 500;
}
#main_content{
  width: 100%;
  padding-top: 100px;
}
#main_content>.about_intro{
  width: 100%; height: 500px;
  background: url("../img/intro_bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}
#main_content>.about_intro>.txtbox{
  width: 900px;
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Caveat, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
#main_content>.about_intro>.txtbox>p:last-of-type{
  text-align: right;
}
/*--------------intro end--------------*/
#main_content>.about_top{
  width: 100%; max-width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
#main_content>.about_top>.top_header{
  width: 100%;
  margin-bottom: 150px;
}
#main_content>.about_top>.top_header>h1{
  font-family: Caveat, sans-serif;
  font-size: 3.375em;
  font-weight: 400;
  color: #344e41;
  text-align: center;
}
#main_content>.about_top>.top_header>.h_bar{
  display: block;
  width: 375px; height: 5px;
  background: #344e41;
  margin: 0 auto;
  position: relative; left: 3px;
}
#main_content>.about_top>.top_bot{
  width: 100%; max-width: 1200px;
  margin-bottom: 200px;
  position: relative;
}
#main_content>.about_top>.top_bot>img:first-of-type{
  width: 41.66666%; height: auto;
}
#main_content>.about_top>.top_bot>img:last-of-type{
  width: 28.5%; height: auto;
  position: absolute; right: 50%; bottom: -15%;
  transform: translateX(50%);
  transition: all .4s
}
#main_content>.about_top>.top_bot>.txtbox{
  position: absolute; right: 0; top: 10%;
  transition: all .4s
}
#main_content>.about_top>.top_bot>.txtbox>strong{
  font-size: 1.25rem;
}
#main_content>.about_top>.top_bot>.txtbox>p{
  font-size: 1rem;
  line-height: 2em;
  letter-spacing: 1px;
  margin-top: 30px;
}
#main_content>.about_bot{
  width: 100%;
  background: url("../img/ab_bg.jpg") no-repeat center center;
  background-size: cover;
  padding:100px 0 150px;
}
#main_content>.about_bot>.innerbox{
  width: 100%; max-width: 1200px; height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
#main_content>.about_bot>.innerbox>strong{
  display: block;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 30px;
}
#main_content>.about_bot>.innerbox>p{
  font-size: 1rem;
  line-height: 2em;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 80px;
}
#main_content>.about_bot>.innerbox>p>.space{
  display: block;
}
#main_content>.about_bot>.innerbox>.imgbox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all .4s;
}
#main_content>.about_bot>.innerbox>.imgbox img{
  transition: all .4s;
  width: 24.16666%; height: auto;
}
/*----------------media query-----------------------*/

@media screen and (max-width: 1024px) and (min-width: 641px){
  body, html{
    font-size: 14px;
  }
  #main_content>.about_intro>.txtbox{
    width: 600px;
    font-size: 3rem;
  }
  #main_content>.about_intro>.txtbox>p:last-of-type{
    text-indent: 100px;
  }
  #main_content>.about_top{
    width: 95%;
  }
  #main_content>.about_top>.top_bot{
    margin: 0 auto;
  }
  #main_content>.about_top>.top_bot>img:first-of-type{
    width: 50%;
  }
  #main_content>.about_top>.top_bot>img:last-of-type{
    width: 35%;
    right: 5%; bottom: 0;
    transform: none;
  }
  #main_content>.about_top>.top_bot>.txtbox{
    right: 5%; top: 0;
  }
  #main_content>.about_bot>.innerbox{
    width: 95%;
  }
}
/*----------------------mobile start------------------*/
@media screen and (max-width: 640px){
  html, body{
    font-size: 12px;
  }
  #main_content>.about_intro>.txtbox{
    width: 320px;
    font-size: 3rem;
    margin: 0 auto;
  }
  #main_content>.about_top{
    width: 95%;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  #main_content>.about_top>.top_header>h1{
    font-size: 2.7rem;
  }
  #main_content>.about_top>.top_header{
    margin-bottom: 50px;
  }
  #main_content>.about_top>.top_header>.h_bar{
    width: 230px; height: 3px;
    left: 0;
  }
  #main_content>.about_top>.top_bot{
    text-align: center;
    margin-bottom: 0;
  }
  #main_content>.about_top>.top_bot>.txtbox{
    position: static;
    margin-bottom: 25px;
  }
  #main_content>.about_top>.top_bot>.txtbox>strong{
    font-size: 1rem;
  }
  #main_content>.about_top>.top_bot>.txtbox>p{
    font-size: 0.875rem;
    margin-top: 15px;
  }
  #main_content>.about_top>.top_bot>img:first-of-type{
    width: 45%;
  }
  #main_content>.about_top>.top_bot>img:last-of-type{
    width: 50%;
    position: static;
    transform: none;
  }
  #main_content>.about_bot{
    padding: 50px 0;
  }
  #main_content>.about_bot>.innerbox{
    width: 95%;
  }
  #main_content>.about_bot>.innerbox>strong{
    font-size: 1rem;
    margin-bottom: 15px;
  }
  #main_content>.about_bot>.innerbox>p{
    font-size: 0.875rem;
    width: 310px;
    margin: 0 auto 25px;
  }
  #main_content>.about_bot>.innerbox>p>.space{
    display: none;
  }
  #main_content>.about_bot>.innerbox>.imgbox{
    flex-flow: row wrap;
  }
  #main_content>.about_bot>.innerbox>.imgbox img{
    width: 49%;
  }
  #main_content>.about_bot>.innerbox>.imgbox img:nth-of-type(1), #main_content>.about_bot>.innerbox>.imgbox img:nth-of-type(2){
    margin-bottom: 10px;
  }
}